extends layout

block content
	nav(class="navbar navbar-default navbar-static-top")
		div#nav-content.container
			div.navbar-header
				button(class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar-collapse-1", aria-expanded="false")
					span(class="sr-only") Toggle Navigation
					span(class="icon-bar")
					span(class="icon-bar")
					span(class="icon-bar")
				a#brandBtn(class="navbar-brand", href="/") Jeremy Levy
			div(class="collapse navbar-collapse", id="navbar-collapse-1")
				ul(class="nav navbar-nav")
					li
						a(class="btn-nav", href="/") Home 
					li.active
						a(class="btn-nav", href="/projects") Projects
					li
						a(class="btn-nav", href="/contact") Contact Me
					//- ul(class="nav navbar-nav navbar-right")
					//- li
					//- 	div.nav-bar-login
					//- 		button(class="btn btn-secondary btn-lg", data-toggle="modal", data-target="#learnModal") ?
	section#body-content.container
		div.row
			div#learnModal(class="modal fade", role="dialog")
				div.modal-dialog
					div.modal-content
						div.modal-header
							button(type="button", class="close", data-dismiss="modal")
								span(class="glyphicon glyphicon-remove-circle" aria-hidden="true", style="color:red")
							h4(class="modal-title", style="color:#ff3300;") How This Works...
						div.modal-body
							p Use the search bar to find your favorite movies, actors or tv shows
							p You can save the movie for later by clicking the heart button or like it using the thumbs up button.
							p The favorites table to the right of the page will hold your saved results, click the name of the entry to quickly see it's details.
						div.modal-footer
							div.row
								div.col-sm-4
							p If you have any comments or suggestions let me know. 
							a(class="btn btn-default" href="/contact")
								span(class="glyphicon glyphicon-envelope", aria-hidden="true")
		div.row
			div.col-md-12
				p #{msg}
				div#formAlert(class="alert alert-danger", role="alert")
					span(class="glyphicon glyphicon-exclamation-sign", aria-hidden="true")
					span#alertTxt(class="sr-only") Error: 
					|&nbsp;Please Enter A Movie title
		div.row
			div.col-md-12				
				form#formAddMovie(class="form-group-lg")
					div(class="form-group has-feedback")
						//- label(class="control-label", for="inputMovieTitle") Title:
						div.row
							div.col-md-12
								h3 Search for a movie #[div.demo-modal #[a#learnMoreBtn(class="btn btn-secondary btn-lg", data-toggle="modal", data-target="#learnModal") #[span(class="glyphicon glyphicon-question-sign", aria-hidden="true")]]]
								input#inputFavMovieTitle(type="name", class="form-control", placeholder="Title", aria-describedby="inputTitleStatus", name="title")
								span(id="form-feedback-title", class="glyphicon glyphicon-remove form-control-feedback", aria-hidden="true")
								span(id="inputTitleStatus", class="sr-only")
								br
						div.row
							div.col-md-6
								button#favBtnSubmit(class="btn btn-primary btn-lg") submit
						div.row
							div.col-md-6
								div.featureHeadings
									h3#favTitleHeading
									h4#favMetaScoreHeading 
										strong| Metascore&nbsp; 
									h4#favImdbRatingHeading 
										strong| IMDB&nbsp;
									h4#favImdbVotesHeading 
										strong| IMDB Votes&nbsp;
						div.row
							div.col-md-4
								div#posterDiv
									a#posterLink(href="", target="_blank")
										img#resPoster(src="")
							div.col-md-6
								div#likeBtnBar
									a#favBtn(class="btn btn-secondary btn-lg")
										span(class="glyphicon glyphicon-heart", aria-hidden="true")
									a#likeBtn(class="btn btn-secondary btn-lg" data-id="")
										span(class="glyphicon glyphicon-thumbs-up", aria-hidden="true")
							div.col-md-8
								h3#resPlot #[strong Movie Plot]
									&nbsp;#[span(class="glyphicon glyphicon-chevron-up" aria-hidden="true")]
									p#plotText
								h3#moreDetailsBtn #[strong More Details]
									&nbsp;#[span(class="glyphicon glyphicon-chevron-down" aria-hidden="true")]
								h4#allDetails
									ul
						div.row
							div.col-md-12
								if(typeof favlist !== 'undefined')
									h3 Favorites
									#favTable-container
										table#favTable(class="table table-hover")
											thead
												tr
													th Titles
													th Watched
													th Likes
													th Remove
														tbody#favlist
														each fav, i in favlist
															tr
																td
																	a(href="#" id="#{fav.id}", class="favoriteTitle")= fav.title
																td
																	if(fav.isWatched == true)
																		input(type="checkbox", checked)
																	else
																		input(type="checkbox")
																td
																	p(id="")= fav.likes
																td
																	div.hover-btn
																	a(href="#", rel="#{fav.id}" type="button", class="close")
																		span#trash(class="glyphicon glyphicon-trash", aria-hidden="true", style="color:red;")
																		span(class="sr-only") Close