extends layout

block content
	link(rel='stylesheet', href='/stylesheets/cover.css')
	div.container
		nav
			ul(class="nav masthead-nav")
				li.active
					a(href="/") Home
				li
					a(href="/projects") Projects
				li
					a(href="/contact") Contact Me
		div.row
			div(class="col-md-6 col-centered")
				div.my-face
					img(src="images/face-circle-1.png")
		div.row
			div(class="col-md-6 col-centered")
				h2.cover-heading #[strong Jeremy Levy]
				hr.name-line
				p.
					web developer #[span(style="color:#00b8ff") | ] tech. ethusiast #[span(style="color:#00b8ff") | ] san francisco
	//- div.row
	//- 	div#background-container.col-xs-12
	//- 		img#background(src="http://imgs.abduzeedo.com/files/tutorials/San_Francisco_Skyline_in_Illustrator/sf.gif")
	div.container
	include footer
				
