//Projects Page
extends layout

block content
	div(class="navbar navbar-default")
		div.container
			div.navbar-header
				button(class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar-collapse-1", aria-expanded="false")
					span(class="sr-only") Toggle Navigation
					span(class="icon-bar")
					span(class="icon-bar")
					span(class="icon-bar")
				a#brandBtn(class="navbar-brand", href="/") Jeremy Levy
			div(class="collapse navbar-collapse", id="navbar-collapse-1")
				ul(class="nav navbar-nav")
					li
						a(class="btn-nav", href="/") Home 
							//span(class="sr-only") (current)
					li.active
						a(class="btn-nav", href="/projects") Projects
					li
						a(class="btn-nav", href="/contact") Contact Me
	div.container
		div.row
			div.col-md-12
				h2 Projects Page
				p A few of the projects I'm working
			div.col-md-6
				div#car-share-box.project-box
					h2 CarShare Compare
					p View and compare great car share services around the bay area
					a(class="btn btn-primary btn-lg" href="http://www.carsharecompare.com") Go
			div.col-md-6
				div#movie-box.project-box
					h2 Movies To-Do
					p Search the Open Movie Database and save your favorites in a convenient list
					a(class="btn btn-primary btn-lg" href="/favorites") Go
	include footer